/* font import  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
/* font-family: 'Plus Jakarta Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap');
/* font-family: 'Roboto Slab', serif; */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
/* font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400;1,500&display=swap');
/* font-family: 'EB Garamond', serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.max-width {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}

.section-mp {
    margin: 40px auto;
    padding: 40px 3rem;
}

.btn {
    /* display: inline-block; */
    padding: 12px 35px;
    outline: none;
    font-size: 14px;   
    border-radius: 30px;
    cursor: pointer;
    color: #000;
    background: white;
    border: 2px solid white;
    margin-top: 30px;
    transition: all 0.3s ease;
}

#promo .video-data .btn:hover,
.about-content .right .btn:hover,
.btn:hover{
    background-color: #daa14c;
    border-color: #daa14c;
}

.title{
    color:#daa14c;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3.4px;
    margin-bottom: 15px;
}

.text-data h2,
.right h2,
.video-data h2{
    line-height:   52px;
    font-size: 48px;
    letter-spacing:  -1px;
    color: white;
    margin-bottom: 20px;
}

.text-data .detail,
.about-content .right .detail,
.video-data .detail{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #30373E;
    margin: 20px 0;
    padding-right: 20px;
}



/* Upper nav part  */
#upper-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #B0B6BC;
    background: #30373E;
    padding: 10px 40px;
}

.text {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

}

#upper-nav .left span {
    color: #daa14c;
}

#upper-nav .right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#upper-nav .right div:nth-child(1) {
    padding: 0 15px 0 0px;

}

/* Navigation BAr  */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    left: 0;
    padding: 20px 40px;
    z-index: 999;
}

#header .logo-box img {
    height: 45px;
    max-width: 100%;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.navbar li {
    position: relative;
    margin: 0 2px;
}

.navbar li a {
    /* text-decoration: none; */
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #1a1a1a;
    padding: 10px 6px;    
    transition: all 0.5s ease;
}

.navbar li a:hover,
.navbar li a.active {
    color: #daa14c;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.5s ease;
}

/* .navbar li a:hover::after, */
.navbar li a.active::after ,
.navbar li a:hover::after{
    content: " ";
    width: 100%;
    height: 2px;
    background-color: #daa14c;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#mobile {
    display: none;
}

#close {
    display: none;
}

/* Banner part  */

#hero {
    display: flex;
    /* align-items: flex-start; */
    justify-content: space-between;
    background: url("../data/home_Data/h1-bg02.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin-bottom: 80px;
}

#hero .text {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;    
    padding: 0 3em;
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
    position: relative;
    z-index: 2;
}

#hero .text .heading {    
    text-transform: capitalize;
    font-weight: 700;
    font-size: 67px;
    /* line-height: 70px; */
    width: 600px;    
    padding-bottom: 25px;
}


#hero .text .content {
    color: #B0B6BC ;
    font-size: 16px;   
    line-height: 24px;
    word-spacing: 5px;
}

.swiper-button-next, .swiper-button-prev {
    left: 89%;
     top: 94%;
}

#hero .text .prev,
#hero .main-img .next{
    position: absolute;    
    height: 60px;
    width: 60px;    
    color: #daa14c;
    font-size: 30px; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;  
    border: none;  
    outline: none;
}

#hero .text .prev i{                   
    color: #1a1a1a;           
}

#hero .text .prev:hover i ,
#hero .main-img .next:hover i{
    font-size: 35px;
}    

#hero .text .prev,
.swiper-button-prev{
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
}

#hero .main-img .next,
.swiper-button-next{    
    left: 0;
    bottom: 0;    
    background-color: rgba(255, 255, 255);   
}


#hero .main-img {
    height: 100vh;        
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
     position: relative;
}


.main-img .swiper{
    width: 100%;
    height: 100%;
}


#hero .main-img .img-slide img{    
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}


/* About us part  */
#about{
    margin: 40px auto;
}

#about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

#about .about-content-2{
    flex-wrap: wrap-reverse;
}

#about .about-content .left {
    width: 40%;
    /* height: 400px; */
    margin: 0 0 0 30px;
    background: linear-gradient(0deg, rgba(35, 85, 124, 0.23), rgba(35, 85, 124, 0.3));
}

#about .about-content .left img {
    height: 600px;
    width: 100%;
    object-fit: cover;
    position: relative;
    /* z-index: -1; */
    
}

#about .about-content .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    padding:  40px;
}

.about-content .right h2{
    color: #30373E;
    padding-right: 15px;
}

.about-content .right .btn{
    background-color: #30373E;    
    color: #fff;   
    font-size: 16px;      
    border-color: #30373E;   
    transition: all 0.5s ease ;
}

.about-content .right .btn i{
    padding-left: 10px;
}

/* about section 2  */
#about .about-content .about2-right{
   width: 40%;
   
}
/* faq section  */
.faq-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.faq {
    max-width: 100%;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #000;
    cursor: pointer;
}

.question {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
}

.question h3 {
    font-weight: 500;
    color: #1a1a1a;    
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.answer p {
    padding-top: 1rem;
    padding-left: .5rem;
    line-height: 1.6;
    font-size: .9rem;
}

.faq.active .answer {
    max-height: 100%;
    animation: fade 1s ease-in-out;
}

i {
    font-size: 20px;
    margin-right: 1rem;
    transition: transform 0.5s ease-in;
}

.faq.active i {
    transform: rotate(180deg);
}


#about .about-content .about2-left{
    width: 40%;
    margin: 0 30px 0 0;   
}

/* Kitchen part  */
#kitchen{
    background: linear-gradient(0deg, rgba(49, 55, 63, 0.2), rgba(49, 55, 63, 0.2)), url("../data/home_Data/h1-bg02.jpg");      
    height: 100%;
    max-height:1000px; 
    background-size: cover;
    background-repeat: no-repeat;     
    margin: 80px 0;
    padding: 20px 0;
    color: white;
}

.text-data{
    display: flex;
    flex-direction: column;      
    align-items: center;
    max-width: 700px;       
    padding: 40px 0;
    margin: 5px auto;
}

.text-data .detail{
    text-align: center;
    margin-top: 0;
    color: white;
}

#kitchen .margin{
    margin: 0 30px;
}

.owl-carousel .owl-item img {
    display: block;
    /* width: 400px; */
    height: 280px;
    object-fit: cover;
}

#kitchen .owl-carousel .item h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin: 15px 0 5px 0;  
    text-align: center;  
}

#kitchen .owl-carousel .item p{
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

#kitchen .owl-nav button span{
    font-size: 60px;
    line-height: 60px;
    color: #fff;
    padding: 10px ;
}

/* wardrobe  */
#wardrobe{
    display:flex;
    align-items: flex-start;    
}

#wardrobe .vertical-head{
    font-family: 'EB Garamond', serif;  
    font-size: 28px;
    font-weight: 500; 
    letter-spacing: 0.05em;
    width: 8%;
    padding: 40px 20px;
    background-color: white;
    z-index: 6;
    height: 400px;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

#wardrobe .image-box{
    width:92%;
}

/* wardrobe,vanities commom section */
.image-box .content{
    padding: 0 0 40px;
    overflow: hidden;

}
.swiper-container-2{
    width: calc(100% - 200px);
     /* padding: 80px 0 0 ;  */
    padding: 40px 0 0 ;
    min-height: 435px;
    max-height: 600px;

}

.wvp-slide{
    max-width: 300px;
    min-width: 150px;
    transition: all 0.5s ease;
    margin: 0 30px; 
}

.wvp-slide img{
    height:300px;
    width: 100%;
    max-width:300px;
    
}

.slide-text{
    color: #1a1a1a;
    padding: 10px 5px 0;
    text-transform: capitalize;
    transition: all 0.5s ease;
}
.slide-text h3{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: italic;
   
}

.slide-text p{
    font-size: 14px;       
} 

.swiper-scrollbar-drag{
    background-color: #B0B6BC;    
}

.swiper-container-horizontal>.swiper-scrollbar{
    left: 0;
    height: 6px;
    margin: 80px auto 20px;
    position: relative;
    width: 50%;
}



/* text data part with promo section  */

/* promo video css  */
#promo-part{
    background: linear-gradient(0deg, rgba(49, 55, 63, 0.2), rgba(49, 55, 63, 0.2)), url("../data/home_Data/promo-bg.jpg");      
    height: 100%;
    max-height:750px; 
    background-size: cover;
    background-repeat: no-repeat;  
    margin: 40px 0px;
    padding: 40px;
}

#promo{
    display: flex;
    align-items: center;
    justify-content: center;      
    padding: 60px 40px ;
}

.video-data{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-between;
    padding-right: 30px;
    
}

.video-data .detail{
    color: white;
}

#promo .video-data .btn{
    background-color: white;
    color: #30373E;
    border-color: white;
    font-size: 16px;
}

.video-data .btn i{
    padding-left: 5px;
}

#promo .video{
    padding-left: 20px;
}

#promo .video video{
    height: 370px;
    width : auto;
}


/* Footer css  */
#footer {
    background: linear-gradient(0deg, rgba(33, 41, 49, 0.95), rgba(33, 41, 49, 0.95)), url("../data/home_Data/footer_back.jpg");
    /* background-color: #23557C; */
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#footer .heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content : center;
    margin: 0px auto 30px;
}


#footer .heading h2{    
    font-family: 'Raleway';
font-weight: 700;
font-size: 44px;
text-align: center;
position: relative;
}

#footer .heading h2::after{
    content: " ";
    position: absolute;
    bottom:  -5px;
    left: 0%;
    height: 2px;
    width: 100%;
    background-color: #daa14c;
    z-index:2;
}

#footer .footer-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 10px 40px 10px;
}

#footer .footer-content img {
    height: 45px;
    max-width: 100%;
    margin-bottom: 20px;
}


.footer-content .details {
    padding-right: 3rem;
    max-width: 400px;
}

.social {
    color: #daa14c;
    font-size: 28px;
    margin: 20px 0px;
}

.social i {
    padding: 0 12px;
}


.pagelink li {
    cursor: pointer;
    padding: 5px 10px;
}

.link {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: #fff;
}



.footer-content p {
    font-family: 'Raleway';
    font-style: italic;    
    font-size: 17px;
    text-align: justify;
    margin-bottom: 10px;
}

.footer-content .touch {
    padding: 0 2rem;
    max-width: 350px;
}

.footer-content .page-link {
    padding: 0 3rem;
}

.footer-content .boxes{
    margin: 30px 0;  
}



/* copyright part  */
.copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    font-size: 14px;
    color: rgb(238, 236, 236);
    border-top: .5px solid #B0B6BC;
    flex-wrap: wrap;
    background: #30373E;
}

.copyright a {
    color: #daa14c;
    font-style: italic;
}